body{
 
}

.barratopo{
     background-color: #35bdb5;
     height: 70px;
     padding-top: 12px;
     /** */
}

.menuTopo{
	font-weight: 20px;
	color: #fff;
	margin-left: 10px;
	padding-top: 10px;
}

.boxContato{
	background-color: #087866;
	border-radius: 25px;
	margin-top: 12px;
	padding-left: 10px;
	width: 120px;	
}

.barraSub{
	background-color: #087866;
	height: 8px
}

a.menuTopoItem:link, a.menuTopoItem:visited {
	text-decoration: none;
	color: #fff;
	font-weight: 40px;
	}
a.menuTopoItem:hover {
	color: #35bdb5;
	font-weight: 40px;	
	}

a.menuTopoItem:active {
	text-decoration: none;
	color: #000;
	font-weight: 40px;
	}


a.menuTopoItem2:link, a.menuTopoItem2:visited {
	text-decoration: none;
	color: #fff;
	font-weight: 40px;
	}
a.menuTopoItem2:hover {
	color: #087866;
	font-weight: 40px;	
	}

a.menuTopoItem2:active {
	text-decoration: none;
	color: #000;
	font-weight: 40px;
	}	

.tituloPrincipal{	
	margin-top: 20px;
	color: #087866;
	font-size: 25px;
	margin-bottom: -20px;
}

.tabela{
	background-color: #087866;	
	color: #fff;
}

.conteudo{
	margin-top: 20px;
}